<!DOCTYPE html>

<html>
<body style="margin-left: 20px;margin-right: 20px">
<h1 style="font-size:80px">Flixcribir Templates</h1>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="https://flixcribir-assets.oss-us-east-1.aliyuncs.com/template/introduce_yourself.jpg"><br><br>
    <h1 style="font-size:35px">Introduce Yourself</h1>
    <a href="https://flixcribir-assets.oss-us-east-1.aliyuncs.com/template/introduce_yourself.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./whiteboard_explainer_green_collage.jpg"><br><br>
    <h1 style="font-size:35px">Whiteboard Explainer - Green Collage</h1>
    <a href="./whiteboard_explainer_green_collage.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./whiteboard_explainer_collage.jpg"><br><br>
    <h1 style="font-size:35px">Whiteboard - Explainer Collage</h1>
    <a href="./whiteboard_explainer_collage.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./7_point_whiteboard_story_progress.jpg"><br><br>
    <h1 style="font-size:35px">7-Point Whiteboard Story - Progress</h1>
    <a href="./7_point_whiteboard_story_progress.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./whiteboard_process_writing.jpg"><br><br>
    <h1 style="font-size:35px">Whiteboard Process - Writing</h1>
    <a href="./whiteboard_process_writing.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./7_point_whiteboard_story_narrative.jpg"><br><br>
    <h1 style="font-size:35px">7-Point Whiteboard Story - Narrative</h1>
    <a href="./7_point_whiteboard_story_narrative.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./graffiti_theme.jpg"><br><br>
    <h1 style="font-size:35px">Graffiti - Theme</h1>
    <a href="./graffiti_theme.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./good_egg_easter_greeting.jpg"><br><br>
    <h1 style="font-size:35px">Good Egg Easter Greeting</h1>
    <a href="./good_egg_easter_greeting.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./happy_mothers_day.jpg"><br><br>
    <h1 style="font-size:35px">Happy Mother's Day</h1>
    <a href="./happy_mothers_day.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./to_the_best_mother.jpg"><br><br>
    <h1 style="font-size:35px">To The Best Mother</h1>
    <a href="./to_the_best_mother.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./inspiring_women.jpg"><br><br>
    <h1 style="font-size:35px">Inspiring Women</h1>
    <a href="./inspiring_women.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./international_womens_day.jpg"><br><br>
    <h1 style="font-size:35px">International Women's Day</h1>
    <a href="./international_womens_day.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="./stay_safe.jpg"><br><br>
    <h1 style="font-size:35px">Stay Safe</h1>
    <a href="./stay_safe.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>

<!-- <h2 style="font-size:80px">How to install?</h2>

<ul style="font-size:30px">
    <li>1.Download the ZIP file on your device;</li>
    <li>2.Open the default Files application and move the ZIP file to the "On my iPhone/Flixcribir/Describir/Image Bundles" directory;</li>
    <li>3.Uncompress the ZIP file and the bundle file will be in the same directory;</li>
    <li>4.Make sure the bundle file path is "On my iPhone/Flixcribir/Describir/Image Bundles/xxxxx.bundle";</li>
    <li>5.Open Flixcribir, the image bundle should be installed.</li>
</ul>

<h2 style="font-size:80px">How to uninstall?</h2>
<p style="font-size: 25pt;">You can manage installed bundles in Flixcribir or delete them in the Files application.</p>
<img style="width: 100%;height: 100%;max-width: 750pt;" src="assets/images/manage_bundles.jpg"><br><br> -->

</body>
</html>