<!DOCTYPE html>

<html>
<body style="margin-left: 20px;margin-right: 20px">
<h1 style="font-size:80px">Flixcribir Templates</h1>

<div style="padding: 15pt;background-color: lightblue;border-radius: 15pt;">
    <img style="width: 100%;height: 100%" src="https://flixcribir-assets.oss-us-east-1.aliyuncs.com/template/introduce_yourself.jpg"><br><br>
    <h1 style="font-size:40px">Introduce Yourself</h1>
    <a href="https://flixcribir-assets.oss-us-east-1.aliyuncs.com/template/introduce_yourself.scribir"><strong style="font-size: 25pt;">Download</strong></a>
</div>

<div style="padding: 15pt;"></div>


<!-- <h2 style="font-size:80px">How to install?</h2>

<ul style="font-size:30px">
    <li>1.Download the ZIP file on your device;</li>
    <li>2.Open the default Files application and move the ZIP file to the "On my iPhone/Flixcribir/Describir/Image Bundles" directory;</li>
    <li>3.Uncompress the ZIP file and the bundle file will be in the same directory;</li>
    <li>4.Make sure the bundle file path is "On my iPhone/Flixcribir/Describir/Image Bundles/xxxxx.bundle";</li>
    <li>5.Open Flixcribir, the image bundle should be installed.</li>
</ul>

<h2 style="font-size:80px">How to uninstall?</h2>
<p style="font-size: 25pt;">You can manage installed bundles in Flixcribir or delete them in the Files application.</p>
<img style="width: 100%;height: 100%;max-width: 750pt;" src="assets/images/manage_bundles.jpg"><br><br> -->

</body>
</html>